/* */


/* ==== MAIN ==== */
html,
body {
  height: 100%;
  width: 100%;
  font-family:'Roboto', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 1) !important;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
  overflow-x: hidden;

}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;

}

h1 {
  margin-top: 200px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: bold;
  font-size: 3.7em;

}

#logo {
  color: rgba(255, 92, 94, 1);
  margin-top: -1px;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: rgba(255, 92, 94, 1);
  font-weight: bold;
  margin: 50px 0px;
}

#h2margin {
  margin-bottom: 20px;
}


h3 {
  color: rgba(255, 92, 94, 1);
  font-weight: bold;
  font-size: 1.3em;

}

h4 {
  text-align: center;
  color: rgba(255, 92, 94, 1);
  padding: 0 10px 0 10px;
}

h5 {
  font-size: 2.2em;
  font-weight: bold;
}


/* ==== NAV ==== */

.navbar {
  /*background: transparent;*/
  margin-bottom:0px;
  background-color: #fff !important;
  width: 100%

  /* color: #000000 !important; */
  /* background-color: #ffffff !important; */
  /* opacity: 0.0;*/
}

#brand-image {
  height: 35px;
  position: relative;
  bottom: 7px;
}

.activeLink {
    color: rgba(255, 92, 94, 1) !important;
    /* color: #FF5C5E !important; */
}

a {
  color: rgba(0, 0, 0, 1) !important;
  /* color: #000000 !important; */
}


a:hover {
  color: rgba(255, 92, 94, 1) !important;
  /* color: #FF5C5E !important; */
}

/* ==== HERO ==== */

#hero {
  background: url("img/brookecagle.jpg") center center repeat fixed;
  background-size: cover;
  height: 700px;
  width: 100%;
  margin-top: 0px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}


/* ==== BODY ==== */

.containerFruit {
  height:auto;
  width: 100%;
  background-color: #FF5C5E;
}

.containerGrey {
  height:auto;
  width: 100%;
  background-color: #EDEEEF;

  /*background-color: #593C8F; #F6F6F6 #E0E0E0; */
}

.containerColor {
  height:auto;
  width: 100%;
  background-color: #EDEEEF;
}

.containerBlue {
  height:auto;
  width: 100%;
  background-color: #35A1DA;
}

.margin {
  margin-left: 7%;
  margin-right: 7%;
}

.header {
margin-top: 25%;
color: #FD6B54;
}

#aboutHeader {
  margin-top: 30%;
  color: #FD6B54;
}

.lead {
  color: #838383;
  font-size: 1.2em;
  font-weight:400;
  margin-top: 2%;
  margin-bottom: 25%;

}

.center {
  text-align: center;
}

.title {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #ffffff;
}

.readyTitle {
  margin-top: 60px;
  margin-bottom: 10px;
  color: #ffffff;
}

.fruitTitle {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #FD6B54;
}

#aboutSubhead {
  color: #FD6B54;
  font-size: 1.3em;
  font-weight:400;
  margin-top: 2%;
  margin-bottom: 2%;
}

#aboutBody {
  color: #FD6B54;
  margin-top: 15px;
}

.black {
  color: #484E51;
}

p {
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 25%;
  color: #FFFFFF;
}

.content {
  color: #838383;
  font-weight: normal;
}


/* ==== ICONS ==== */
#robot {
  width: 90%;
  height: 90%;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 45px;
  margin-bottom: 40px;
}

.iconsResize {
  width: 33%;
  height: 33%;
  margin: auto;
}

.icons {
  width: 50%;
  height: 50%;
  margin: auto;
}



/* ==== FORM ==== */
.form {
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#pull-right {
    float: right;
    margin-bottom: 15%;
}

.email {
  color: #ffffff !important;
  margin-top: 10%;
}

.emailForm {
  color: #ffffff;
}

#mc_embed_signup {
  background-color: #FF5C5E !important;
}

.contactLine {
  margin-bottom: 10px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.asteriskAlign {
  text-align: center;
  margin: 15px 0;
}

.mc-field-group {
  width: 100%;
  align-items: center;
}

.emailAddress {
  text-align: left;
  width: 41%;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000 !important;
}

.formFields {
  width: 41%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #838383;
  padding-left: 7px;
}

.button {
  background-color: #D83039;
  color: #ffffff;
  padding: 12px 26px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  margin-top: 16px;
}

.button:hover{
  background-color: #FFF;
  color: #FF5C5E;
}


/* ==== FOOTER ==== */
.footerClass {
  width: 100%;
  background-color: #D83039;
}

.footerText {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  color: #ffffff;
}

.credit {
  color: #000;
  font-weight: lighter;

}

#creditTwo {
  color: #5D5D5D;
}
